
.navbar {
  background-color: rgba(52, 144, 236, 0.4);
  color: white;
}

.navbar-brand {
  color: lightcoral;
}
.nav-link {
  text-decoration: none;
  color: lightcoral;
}

span {
  color: lightcoral;
}

.nav-link:hover {
  color: aqua;
  transition-duration: 500ms;
  text-shadow: 1px 1px rgba(238, 255, 0, 0.719);
}

.top-box {
  height: 100vh;
  background: url(/assets/img/sunset.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.projects {
  background-color: rgba(139, 139, 139, .5)
}
.top-box-text {
  padding-top: 40vh;
  color: white;
}

.card {
  height: 100%;
}
.card {
  min-width: 220px !important;
}

.card a{
  text-decoration: none;
  color: black;
}
.card a:hover {
  color: aqua !important;
  text-decoration: none;
  transition-duration: 500ms !important;
  text-shadow: 1px 1px  rgba(238, 255, 0, 0.719);
}

.contact {
  background-color: #343a40e8;
}


#name, #email, #message{
  min-width: 30vw;
  padding-left: 4px;
}

#message {
  min-height: 200px;
}

#form-card {
  background-color:transparent;
  border: 2px solid black
}

@media(max-width: 992px) {
  .card-group {
    display: inline !important;
  }
  .card-group .card {
    margin: 5px auto !important;
  }
  #message {
    min-height: 150px;
  }

  #name, #email, #message {
    width: 90%;
  }
}

@media(max-width: 1200px) {
  .card-group {
    display: block !important;
  }
  .card-group .card {
    margin: 20px auto !important;
  }
}