:root{
  --my-yellow: rgb(243, 173, 21);
}


.navbar {
  background-color: rgba(24, 18, 30, 0.479);
  color: white;
}

.navbar-brand {
  color: var(--my-yellow);
  font-weight: 600;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--my-yellow)
}

.navbar-toggler{
  margin-right: 1rem;
}

span {
  color: var(--my-yellow);
}

.nav-link:hover {
  color: #EFEFEF;
  transition-duration: 400ms;
  text-shadow: 2px 2px #A9A9A9;
}

.top-box {
  height: 100vh;
  background: url(/assets/img/sunset.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.projects {
  background-color: rgba(139, 139, 139, .5);
  color: #233237
}

#project-box{
  background-color: #233237;
}
.top-box-text {
  padding-top: 40vh;
  color: white;
}

.card {
  height: 100%;
  min-width: 220px !important;
}

.card-header {
  background-color: #A9A9A9 !important;
}
.card a{
  text-decoration: none;
  color: #18121E;
}
.card a:hover {
  color: #EFEFEF !important;
  text-decoration: none;
  transition-duration: 500ms !important;
  text-shadow: 1px 1px  var(--my-yellow);
}



#contact {
  background-color: #18121E;
}

#contact h2 {
  color: var(--my-yellow);
}

i {
  color: white;
}
i:hover {
  color: var(--my-yellow);
  transition-duration: 400ms;
}


#name, #email, #message{
  min-width: 30vw;
  padding-left: 4px;
}

#message {
  min-height: 200px;
}

#form-card {
  background-color:transparent;
  border: 2px solid black;
}

#form-submit{
  background-color: var(--my-yellow);
  color: #233237;
}
#form-submit:hover{
  background-color: rgb(255, 174, 0);
  border: 1px solid #18121E;
  transition-duration: 200ms;
}

@media(max-width: 992px) {
  .card-group {
    display: inline ;
  }
  .card-group .card {
    margin: 5px auto ;
  }
  #message {
    min-height: 150px;
  }

  #name, #email, #message {
    width: 90%;
  }
}

@media(max-width: 1200px) {
  .card-group {
    display: block !important;
  }
  .card-group .card {
    margin: 20px auto !important;
  }
}

@media (max-width:430px) {
  #project-box {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
  }
  
}

@media(max-width:768px){
  .navbar-brand { 
    margin-left: -1rem;
  } 
}